i {
  font-size: 19px;
  color: darkgoldenrod;
  text-align: left;
}

body {
  opacity: 0.7;
}

.leader-table td {
  font-weight: bold;
}

.leader-table th {
  background-color: black;
  color: white;
}
