td i {
  font-size: 19px;
  color: darkgoldenrod;
}

.arrow {
  color: white;
}

.leader-table {
  padding: 0;
  background: rgba(255, 255, 255, 0.7);
}

.leader-table td {
  font-weight: bold;
  opacity: 1;
}

.leader-table th {
  background-color: black;
  color: white;
  opacity: 0.9;
  font-weight: bold;
}


.my-result {
  background: linear-gradient(-45deg, #fff087, #eccf02, #fff087) !important;
  background-size: 50% 100%;
  animation: linear-gradient 10s linear infinite !important;
}

@keyframes linear-gradient {
  0% {
    background-position: 0% 50%
  }

  100% {
    background-position: 400% 400%
  }
}

i{
  float: left;
  left: 10%;
}
