host >>> ui-dialog-titlebar {
  background-color: red;
}


.customText {

  font-size: 150%;
  font-weight: 200
}

:host >>> .ui-card-header img {
  width: 10%;
}

.pulse {
  border: 2px;
  animation: pulse 20s infinite;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 -10px violet;
    box-shadow: 0 0 -10px violet;
  }

  20% {
    -moz-box-shadow: 0 0 -10px blueviolet;
    box-shadow: 0 0 20px blueviolet;
  }

  40% {
    -moz-box-shadow: 0 0 20px deepskyblue;
    box-shadow: 0 0 20px deepskyblue;
  }

  50% {
    -moz-box-shadow: 0 0 20px green;
    box-shadow: 0 0 20px green;
  }

  60% {
    -moz-box-shadow: 0 0 20px orangered;
    box-shadow: 0 0 20px orangered;
  }

  70% {
    -moz-box-shadow: 0 0 20px darkgoldenrod;
    box-shadow: 0 0 20px darkgoldenrod;
  }

  80% {
    -moz-box-shadow: 0 0 20px saddlebrown;
    box-shadow: 0 0 20px saddlebrown;
  }

  100% {
    -moz-box-shadow: 0 0 -10px saddlebrown;
    box-shadow: 0 0 -10px saddlebrown;
  }
}

/*Animate border*/
/*.glow {
  position: relative;
  background: linear-gradient(0deg, #000, #272727);
}

.glow:before, .glow:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(4deg, lightblue, yellow, #00ff00, #ffff00, #ff0000, #fb0094,
  gold, yellow, #ffff00, cornsilk);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow:after {
  filter: blur(5px);
}*/

/* BELL */

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.faa-ring.animated,
.faa-ring.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-ring {
  -webkit-animation: ring 2s ease infinite;
  animation: ring 2s ease infinite;
  transform-origin-x: 50%;
  transform-origin-y: 0px;
  transform-origin-z: initial;
}


.playing22{
  width: 174px;
  height: 32px;
}
